*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

nav{
	position: fixed;
	top: 90%;
	height: 10%;
	width: 100%;
	background-color: #4a4e69;
	color: #f2e9e4;
	font-family: 'Playfair Display', serif, bold;
	font-size: 2.5vh; 
	opacity: 0.9;
}

a{
	color:  #f2e9e4;
	text-decoration: none;
}

img {
	display: inline-block;
	position: relative;
}



body{
	width: 100%;
	height: 100%;
}


img#banner {
	position: fixed;
	width: 100%;
	height: 90%;
}

nav > div {
	display: inline-block;  /*一行文字的方式去呈現*/
	margin: 0 0.1vw;
	height: 10vh;
	width: 19.4vw;
	padding: 3vh 3vw;
	color: #212529;
	transition: all 0.5s linear;
	text-align: center;   /*水平對齊*/
} 

nav > div:hover{
	background-color: #a5a58d;
	color: #cb997e;
	border-bottom: 4px solid white;
	cursor: pointer;
	transition: all 0.5s linear;
}
